/*style sheet for login pages*/

body {
    font: 14px sans-serif;
}
        
.div1 {
    width: 550px;
    margin-left: 25px;
    padding: 15px;
}

.div2 {
    margin-top: 30px;
    margin-left: 25px;
}

.hd1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 18px;
}

p {
    font-family: 'Mystical', arial;
    font-size: 20px;
    color: #9b2fda;
}

/* Page heading */
.hlog {
    font-family: 'Mystical', arial;
    font-size:35px;
    font-weight: bold;
    margin: 5px 0px ;
    color: #6f136c;
}

/* Login and password */
.txtbx {
    width: 250px;
    height: 30px; 
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
    margin-top: 5px;
}

.formtxt {
    margin-top: 12px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Button formatting */
.button, .bttn, .cnclbttn, .rtrnbttn {
    border-radius: 4px;
    background-color:green;
    border: 1px green;
    height:30px;
    font-size: 15px;
    color:white;
}

.bttn {
    margin-left: 10px;
    background-color: rgb(230, 4, 4);
    border: 1px solid  rgb(230, 4, 4);
}

.cnclbttn {
    margin-left: 65px;
    background-color: blue;
    border: 1px solid blue;
}

.button:hover, .bttn:hover, .cnclbttn:hover, .rtrnbttn:hover {
    background-color: black;
    border: 1px solid  black;
    color: rgb(5, 255, 5);
}

.rtrnbttn {
    margin-left: 10px;
}

/*Login page - sign up now */
#sun {
    color:#6f136c;
}
#sun:hover {
    color: darkblue;
}