
.sub-Heading, .sub-heading2
{

    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
   
}

.shippingdetail
{
    max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
    background-color:#ccb7e4 !important;
    border-color: #ccb7e4;
    align-items: center;

}

.ship-submit-Detail
{
    max-width:800px;
	width:100%;
	margin:0 auto;
	position:relative;
    background-color:#ccb7e4 !important;
    border-color: #ccb7e4;
    align-items: center;

}

#shipfName
{
    width: 42.5%; 
    border:1px solid  #aaa;
    outline:none;
    padding:8px;
    display:inline;
    margin-left:2%;
}

#shiplName
{
    width: 42.5%; 
    border:1px solid  #aaa;
    outline:none;
    padding:8px;
    display:inline;
}


#shipEmail, #shipAddress1, #shipAddress2, #shipSuburb, #shipPhone, #shipPostcode
{   
    width:90%;
    border:1px solid  #aaa;
    outline:none;
    padding:10px;
    margin-top: 10px;
    margin-bottom:10px;
    margin-left: 2%;
}

#shipfName:hover, #shiplName:hover,#shipEmail:hover, #shipAddress1:hover, #shipAddress2:hover, #shipSuburbt:hover, #shipPhone:hover,#shipPostcode:hover
{
    border:1px solid orange ;
}


#shipfName:focus, #shiplName:focus, #shipEmail:focus, #shipAddress1:focus, #shipAddress2:focus, #shipSuburb:focus, #shipPhone:focus, #shipPostcode:focus
{
    border:2px solid orange;
    
}

#apartment,#shipGalaxy, #shipSystem
{
    width:95%;
    border:1px solid #aaa;
    outline:none;
    padding: 8px;
    margin-top: 10px;
    margin-bottom:10px;
    margin:2%;
}

label
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400px;
    font-size: 15px;
    margin-top:20px;
    margin-bottom: 20px;
    margin:2%;

}


 




#submitButton
{
    background-color: mediumpurple;
    color: white;
    margin-top: 90px;
    margin-bottom: 20px;
    float: right;
    border: 1px solid mediumpurple;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

#submitButton a
{
    display: block;
    text-align:center;
    text-decoration:none;
    color:white;
}

#submitButton:hover
{
    background-color: rgb(109, 55, 218);
}

#backButton
{
    background-color: mediumpurple;
    color: white;
    margin-top: 90px;
    margin-bottom: 20px;
    float: left;
    border: 1px solid mediumpurple;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

#backButton:hover
{
    background-color: rgb(109, 55, 218);
}


#backButton a 
{
    display: block;
    text-align:center;
    text-decoration:none;
    color:white;

}


#shipReminder
{
    color: red;
    text-align: center;
    font-size: 15px;
}

#list-ship-detail
{
    font-size: 20px;
    text-align: left;
    padding-left:20px;
    padding-bottom:50px;
    margin-top: 10px;
    
}

#ship-cust-Name, #ship-cust-Email, #ship-cust-Address1 , #ship-cust-Address2, #ship-cust-Apartment, #ship-cust-Suburb, #ship-cust-Galaxy, #ship-cust-Postcode, #ship-cust-Planet, #ship-cust-Phonenumber 
{
    padding-top: 10px;
    padding-bottom: 10px;
}