html {
    margin: 1%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
}

h1 {
    font-family: 'Mystical', arial;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}

h1 {
    margin-bottom: 1%;
    height: 20%;
    width: 100%;
    margin-top: .1%;
}


ul {
    list-style-type: none;
    overflow: auto;
    padding-left: 0%;
}

#title{
    text-decoration: none;
    color: black;
    text-align: center;
}

/** category CONTAINERS **/

/**.category-main-page h2 {
    color: mediumpurple;
    font-weight: bold;
    font-size: 100%;
    text-align: center;
}**/

.category-main-page a {
    text-decoration: none;
    display: block;
}

/** Holds all the product images/links **/

.category-container h2 {
    color: mediumpurple;
    font-weight: bold;
    font-size: 100%;
    text-align: center;
}

.category-container a {
    text-decoration: none;
    display: block;
}

/** product images/text for category **/
a:hover h2 {
    color: darkmagenta;
}


/**
.category-product a:hover {
    background-color: #C0C0C0;
}
**/

.category-product h2 {
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 2%;
    padding-top: 0%;
}

.category-product {
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    width: 17%;
    height: auto;
    float: left;
}
.category-product img {
  width: 100%;
  height: auto;
 }

 /**  1x4 for mainpage  **/
 a:hover h2 {
    color: darkmagenta;
}

/**
.category-product-1x4 a:hover {
    background-color: #C0C0C0;
}
**/

.category-product-1x4 h2 {
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 2%;
    padding-top: 0%;
}

.category-product-1x4 {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 3.2%;
    margin-left: 3.2%;
    width: 17%;
    height: auto;
    float: left;
}
.category-product-1x4 img {
  width: 100%;
  height: auto;
}

/** CART **/

.cart-container {
    margin: 8px;
}

.cart {
    color: darkorchid;
}

#removebtn {
    size: 6px;
    color: darkred;
}

/** SIDEBAR **/

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  #closebtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  #closebtn:hover {
    color: #f1f1f1;
  }
  
  #closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }


/** MAIN PAGE **/
    
 .mysticfont h1 {
  text-align: center;
        font-family: 'Mystical', arial;
        font-size: 900%;
        text-shadow: 1% 1% 1% #bbb;
        padding-bottom: 0px;
        margin-bottom: 0px;
        color: #6f136c;
      }

 .mysticfont h2 {
  text-align: center;
        font-family: 'Mystical', arial;
        font-size: 600%;
        padding-bottom: 0px;
        margin-bottom: 0px;
        color: #744FC6;
        text-shadow: 4px 4px 4px #8213c782;
      }

.mysticfont h3 {
  text-align: center;
        font-family: 'Mystical', arial;
        font-size: 200%;
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        color: #744FC6;
        text-shadow: 4px 4px 4px #8213c782;
      }


/** PRODUCT CONTAINERS **/

.product-container {
    float: left;
    align-self: center;
    
}

.product-desc {
    padding-left: 2%;
    float: right;
}

a.product-title {
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    color: mediumpurple;
    font-weight: bold;
}

.product-desc p {
    margin-top: 5px;
    margin-bottom: 5px;
}

/** MENU/TOP MENU BAR **/

ul#menu {
    border-bottom: solid;
    border-bottom-color: #ddd;
    margin: auto;
    width: 70%;
    padding: 10px;

    /**
    padding-left: 0px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 30px;
    **/
}

#menu li {
    display: inline-block;
    margin: 2px 10px;
}

#menucontainer {
    text-align: center;
}

#menuAbout, #menuCat, #menuFAQ {
    font-family: 'Mystical', arial;
    font-size: 24px;
    text-shadow: 4px 4px 4px #aaa;
    text-decoration: none;
    color: #9b2fda;
    /**
    text-decoration: none;
    margin-right: 15px;
    color: black;
    **/
}

#menu a:hover {
    color: #1565c0;
}

#menu a.selected {
    color: #1565c0;
    font-weight: bold;
}
/** CART MENU LINK/TEXT **/

#carttotal {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
    display: block;
}

#carttext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
}


/** PRODUCT PAGE **/

.product-page-container {
  margin-top: 1%;
  width: 50%;
  height: 600%;
  min-width:800px;
  margin: auto;
  padding: 10px;
}

.product-image-container {
  margin-top: 1%;
  width: 50%;
  height: 100%;
  float: left;
}
.product-info-container {
  margin-top: 1%;
  margin-left: 51%;
  margin-bottom: 0%;
  height: 400px;
  margin-top: 10%;
}
.product-img{
  width:80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.stock-ammount p {
    margin-top:3%;
    color: #aaaaaa;
    text-align: center;
}

.centerd-button {
    align-self: center;
    border: none;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    background-color: #e6aab9;
    width:40%;
    margin-left:30%;
    margin-right:30%;
    padding-bottom: 4%;
    padding-top: 4%;
}

.centerd-button:hover {
  background-color:#d87d94;
}

.info-button {
    align-self: left;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    background-color: #e6aab9;
    width:20%;
    padding-bottom: 2%;
    padding-top: 2%;
    border: solid;
    border-width: 2px;
    border-color: #8213c7;
    outline: 2px solid #8213c7;
}

.blank {
    align-self: left;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    background-color: #e6aab9;
    color: #e6aab9;
    width:60%;
    padding-bottom: 2%;
    padding-top: 2%;
    border: solid;
    border-width: 2px;
    border-color: #8213c7;
    outline: 2px solid #8213c7;
}

.blank:focus {
    border: solid;
    border-width: 2px;
    border-color: #8213c7;
    outline: 2px solid #8213c7;
}

.description {
  background-color:#d87d94;
    margin-left:0%;
    margin-right:0%;
}

.specifications {
    margin-left:0%;
    margin-right:0%;
}

.price h4 {
        text-align: center;
        font-family: 'Mystical', arial;
        font-size: 400%;
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        color: #DA4167;
        text-shadow: 4px 4px 4px #8213c782;
      }

.info-box{
    border: solid;
    border-width: 2px;
    border-color: #8213c7;
    outline: 2px solid #8213c7;
}

.zero-space-buttons{
    font-size:0;
}

.hidden{
    display: none;
}

/** LOGIN CSS **/

body {
    font: 14px sans-serif;
}
        
.div1 {
    width: 550px;
    margin-left: 25px;
    padding: 15px;
}

.div2 {
    margin-top: 30px;
    margin-left: 25px;
}

.hd1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 18px;
}

p {
    font-family: 'Mystical', arial;
    font-size: 20px;
    color: #9b2fda;
}

/* Page heading */
.hlog {
    font-family: 'Mystical', arial;
    font-size:35px;
    font-weight: bold;
    margin: 5px 0px ;
    color: #6f136c;
}

/* Login and password */
.txtbx {
    width: 250px;
    height: 30px; 
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
    margin-top: 5px;
}

.formtxt {
    margin-top: 12px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Button formatting */
.button, .bttn, .cnclbttn, .rtrnbttn {
    border-radius: 4px;
    background-color:green;
    border: 1px green;
    height:30px;
    font-size: 15px;
    color:white;
}

.bttn {
    margin-left: 10px;
    background-color: rgb(230, 4, 4);
    border: 1px solid  rgb(230, 4, 4);
}

.cnclbttn {
    margin-left: 65px;
    background-color: blue;
    border: 1px solid blue;
}

.button:hover, .bttn:hover, .cnclbttn:hover, .rtrnbttn:hover {
    background-color: black;
    border: 1px solid  black;
    color: rgb(5, 255, 5);
}

.rtrnbttn {
    margin-left: 10px;
}

/*Login page - sign up now */
#sun {
    color:#6f136c;
}
#sun:hover {
    color: darkblue;
}

/** LOGIN PAGES.CSS **/

.div_lgn {
	padding:25px;
}
	
.usr, .pwd {
	padding: 5px;
	margin-top: 3px;
	max-width: 100px;
}
	
#sub {
	background-color: black;
	color: #00fc4c;
	margin-top: 20px;
}

